@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}
body {
  max-width: 1251px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

/* -----------------------------header-------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000; */
}
header .header-img {
  background-image: url(./assets/logo.svg);
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 663px;
  max-width: 90%;
}
nav p {
  font: 400 16px "Inter";
  color: #b8becd;
}
nav p:hover {
  font: 500 16px "Inter";
  color: #202336;
  transition: 0.5s;
}
nav .log-in {
  display: flex;
}
nav .log-in .btn-login {
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  color: #fb8f1d;
  padding: 12px 46px;
  width: 132px;
  height: 44px;
}
nav .log-in .btn-register {
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  background-color: #fb8f1d;
  color: #f5f5f5;
  width: 132px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  margin-left: 18px;
}

/* ----------main-section holiday-finder--------------- */

.holiday-finder {
  margin-top: 114px;
  display: flex;
  justify-content: space-between;
}
.holiday-wrapper {
  margin-left: 30px;
}
.holiday-wrapper h1 {
  font: 700 64px "PlayfairDisplay";
  color: #202336;
  width: 356px;
}
.holiday-wrapper p {
  font: 600 22px "Inter";
  color: #202336;
  margin-top: 74px;
}
.holiday-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 71px;
}
.holiday-inputs input {
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  color: #4a4c53;
  font: 400 15px "Inter";
  width: 220px;
  height: 52px;
  padding-left: 21px;
  margin: 35px 30px 0 0;
}
.holiday-inputs .btn {
  font: 700 17px "Inter";
  color: #fff;
  text-align: center;
  background-color: #fb8f1d;
  border-radius: 8px;
  width: 180px;
  height: 52px;
  padding-top: 15px;
  margin-top: 51px;
}
.holiday-finder .holiday-img {
  background-image: url(./assets/main-img.png);
  height: 483px;
  width: 506px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 14px;
  margin-top: 20px;
}

/* ----------main-section learn-more--------------- */

.learn-more {
  display: flex;
  padding-top: 100px;
}
.learn-more-img {
  background-image: url(./assets/setion.png);
  width: 659px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
}
.learn-more-text {
  display: flex;
  flex-direction: column;
  width: 481px;
  margin-left: 66px;
  margin-top: 100px;
}
.learn-more-text h2 {
  font: 700 36px "PlayfairDisplay";
}
.learn-more-text p {
  font: 300 17px "Inter";
  color: #7d7987;
  line-height: 30px;
  padding-top: 20px;
}

.learn-more-text .btn {
  color: #fff;
  font: 600 16px "Inter";
  background-color: #fb8f1d;
  border-radius: 8px;
  width: 164px;
  height: 48px;
  text-align: center;
  padding-top: 14px;
  margin-top: 33px;
}

/* -------------------footer-------------------- */

footer {
  display: flex;
  gap: 100px;
  margin-top: 192px;
  padding: 97px 0 120px;
  background-color: #f9f9fb;
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: center;
}
footer .footer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 391px;
  padding-left: 52px;
}
.footer-block .img {
  background-image: url(./assets/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 37.24px;
  margin-bottom: 21px;
}
.footer-block p {
  font: 300 18px "Inter";
  color: #848484;
  width: 312px;
}
.footer-block p:last-child {
  width: 100%;
  padding-top: 33px;
}
.footer-block p:not(:last-child) {
  padding-top: 21px;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-text p {
  font: 300 18px "Inter";
  color: #848484;
  width: 170px;
}
footer .footer-text p:first-child {
  font: 700 19px "Inter";
  color: #000;
}

/* -------------------@media-------------------- */
@media screen and (max-width: 1000px) {
  .holiday-finder {
    margin-top: 40px;
  }
  .holiday-wrapper h1 {
    width: 100%;
    font-size: 42px;
  }
  .holiday-wrapper p {
    margin-top: 32px;
  }
  .holiday-inputs {
    margin-top: 0;
    width: 460px;
  }
  .holiday-inputs input {
    margin-right: 10px;
  }

  .learn-more {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .holiday-inputs {
    flex-direction: column;
    width: auto;
  }
  .holiday-inputs input {
    margin-right: 0px;
    margin-top: 5px;
  }
  .holiday-inputs .btn {
    margin-top: 15px;
  }
  .learn-more-text h2 {
    font-size: 26px;
  }
  .learn-more-text {
    margin-left: 20px;
    margin-top: 50px;
  }

  .learn-more-text .btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  header nav {
    display: none;
  }
  .holiday-finder .holiday-img {
    display: none;
  }
  .holiday-inputs {
    flex-direction: row;
  }
  .holiday-inputs input {
    margin-right: 30px;
    margin-top: 20px;
  }
  .learn-more {
    justify-content: center;
    padding-top: 0;
  }
  .learn-more-img {
    display: none;
  }
  .learn-more-text {
    width: 100%;
    text-align: center;
    margin: 10px 15px 0;
  }
  .learn-more-text .btn {
    align-self: center;
  }
}
@media screen and (max-width: 529px) {
  .holiday-inputs {
    width: 300px;
  }
  .holiday-inputs input {
    margin-right: 0px;
    margin-top: 5px;
  }
  .holiday-wrapper {
    text-align: center;
    width: 434px;
  }
  .holiday-finder {
    margin-top: 10px;
  }
  .holiday-wrapper p {
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .learn-more-text .btn {
    align-self: center;
  }
}
