@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
 body {

 }